####################################################################################################
#### This configuration file configures the priorities of the listener rules of 
#### the listener connected to the application balancer on port 443
#### This puts the site on maintenance mode depending on the order of priorities
####################################################################################################
#### To switch Maintenance Mode ON Set the priorities as below
#### ListenerOne : 1
#### ListenerTwo : 2
#### ListenerThree : 3
####################################################################################################
#### To switch Maintenance Mode OFF Set the priorities as below
#### ListenerOne : 6
#### ListenerTwo : 5
#### ListenerThree : 4
####################################################################################################
#### Do not repeat a prioririty number already pointed to another listener rule except if it's for same rule 
####################################################################################################

option_settings:
  "aws:elasticbeanstalk:customoption":
    ListenerOne : 6
    ListenerTwo : 5
    ListenerThree : 4